<?xml version="1.0" encoding="utf-8"?>
<openerp>
    <data>
        <record id="view_linxo_config_settings" model="ir.ui.view">
            <field name="name">linxo settings</field>
            <field name="model">linxo.config.settings</field>
            <field name="arch" type="xml">
                <form string="Configure Linxo" version="7.0" class="oe_form_configuration">
                    <header>
                        <button string="Apply" type="object" name="execute" class="oe_highlight"/>
                        or
                        <button string="Cancel" type="object" name="cancel" class="oe_link"/>
                    </header>
                    <separator string="Global Linxo Settings"/>
                    <group colspan="2" col="2">
                        <field name="client_id" />
                        <field name="client_secret" />
                        <field name="refresh_token" />
                    </group>
                </form>
            </field>
        </record>

        <record id="action_linxo_config" model="ir.actions.act_window">
            <field name="name">Linxo Settings</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">linxo.config.settings</field>
            <field name="view_mode">form</field>
            <field name="target">inline</field>
        </record>

        <menuitem id="menu_linxo_config" name="Linxo" parent="base.menu_config"
            sequence="16" action="action_linxo_config"/>

    </data>
</openerp>
